body{
    background-color: whitesmoke;
   border-left: 2cm;
   
    
}
caption{
    background-color:lightgreen;
    border: 3px solid;
    border-style: dashed;
    margin-bottom: 20px;
    border-radius: 10cm;
    ;

}
thead{
    background-color:gray;
    height: 50px;
    margin-bottom: 20px;

    /* border-radius:40cm; */
    /* margin-top: 1cd ..
    0px; */
}
/* th {
    border: 2px solid pink;
    background-color: lightgray;
    border-radius: 10cm;
    
    } */

td {
border: 2px solid gray;
background-color: pink;
border-radius: 30cm;

}
table{
    /* border-collapse: collapse; */
    max-width: 100%;
    text-align: center;
    table-layout: fixed;
    border-radius: 25px;
    border: 8px solid pink ;
    background-color: salmon;
    height: 8cm;
    /* padding-left: 1cqmax;
    padding-top: 1cqmax; */
    padding: 1cqmax;


}
td:hover{
    background-color: lightcoral;
    color: azure;
}
th{
    width: 250px;
    text-align: right;
    border: 5px solid pink;
    background-color: lightgray;
    border-radius: 10cm;
}
tfoot{
    height:1cm;
   
}